<% provide(:title, "Home") %>
<h1>StaticPages#hme</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info"><%= render 'shared/user_info' %></section><!--  .user_info -->
      <section class="timerpost_form"><%= render 'shared/timerpost_form' %></section><!--  .timerpost_form -->
    </aside><!--  .col-md-4 -->
    <div class="col-md-8">
      <h3>timerpost feed</h3>
      <%= render 'shared/feed' %>
    </div><!--  .col-md-8 -->
  </div><!--  .row -->
<% else %>
  <p><%= link_to "Sign up now!", signup_path %></p>
<% end %>
